name: deploy

on:
  pull_request:
    types:
      - closed

jobs:
  deploy_to_server:  
    runs-on: ubuntu-latest
    steps:
      - name: Connect to server and pull
        if: github.event.pull_request.merged == true
        run: |
          sshpass -p ${{ secrets.SERVER_PASS }} ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} -p ${{ secrets.SERVER_PORT }} << EOF
          cd Pyaroshnaya-backend
          git pull
          source venv/bin/activate
          alembic upgrade head
          cd src/
          pgrep python | xargs kill
          nohup python bot/main.py > bot_output.log 2>&1 &
          pgrep uvicorn | xargs kill
          nohup uvicorn main:app --host 0.0.0.0 --port 7999 > output.log 2>&1 &
